.wd-container-header {
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    grid-gap: 10px;
    font-weight: bold;
    color: black;
    font-size: larger;
    margin: 12px;
}

.wd-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.wd-icon {
    font-size: 2em;
    color: brown;
    align-self: flex-start;
}

.wd-icon2 {
    font-size: 2em;
    color: green;
    align-self: flex-start;
}


.wd-tuit-title {
    font-size: medium;
    font-weight: bold;
    color: black;
}

.wd-icon-flag {
    color: brown;
}

.wd-icon-check {
    font-size: 1em;
    color: blue;
}

.wd-tuit-text {
    margin-bottom: 10px;
}

.wd-at-text {
    font-size: small;
    font-weight: normal;
    color: rgb(133, 132, 132);
}

.wd-date {
    font-size: small;
    font-weight: normal;
    color: rgb(133, 132, 132);
}

.wd-tuit-description {
    font-size: medium;
    font-weight: bold;
    color: black;
}

.wd-card {
    display: flex;
    flex-direction: column;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.wd-card-image {
    height: 80%;
    background-size: cover;
    background-position: center;
}

.wd-card-text {
    height: 20%;
    background-color: #fffefe;
    padding: 10px;
}

.wd-card-text-1{
    font-size: small;
    font-weight: normal;
    color: rgb(133, 132, 132);
}

.wd-card-text-2 {
    font-size: medium;
    font-weight: bold;
}

.wd-card-text-3 {
    font-size: medium;
    font-weight: bold;
    color: rgb(133, 132, 132);
}

.wd-tuit-icons {
    display: flex;
    justify-content: space-between;
    color: rgb(133, 132, 132);
    font-size: medium;
    font-weight: bold;
}
